* {
  box-sizing: border-box;
  text-decoration: none;
}

main {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

section {
  background-color: aquamarine;
  width: 30%;
  border: 2px solid black;
  text-align: center;
  margin: 3%;
  padding: 3%;
}

header {
  height: 100px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 80%;
  background-color: grey;
  border: black 2px solid;
  margin: auto;
  padding: 3%;
  margin-top: 3%;
}

h1{
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
}